<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.pm.reset.title}">Reset Password Send Instructions View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="reset">
        <form method="post" id="fm1">
            <section>
                <h1 class="desktop:text-desktop-6xl mobile:text-mobile-6xl text-default-text mb-default-2x"
                    th:utext="#{screen.pm.reset.title}"
                    data-testid="password-reset-header"
                >
                    Reset your password
                </h1>
                <p th:utext="#{screen.pm.reset.instructions}">Please provide your username. You will
                    receive a notification with follow-up
                    instructions on how to reset your password.</p>
                <div aria-live="polite" role="alert">
                    <div class="alert alert-danger banner banner-danger alert alert-danger banner-dismissible mb-4"
                         th:if="${flowRequestContext.messageContext.hasErrorMessages()}">
                        <p th:each="message,i : ${flowRequestContext.messageContext.allMessages}"
                           th:utext="${message.text}" th:classappend="${i.last} ? 'm-0'">
                            Message Text
                        </p>
                    </div>
                </div>

                <span th:if="${recaptchaPasswordManagementEnabled}">
                            <div th:replace="~{fragments/recaptcha :: recaptchaToken}"/>
                        </span>

                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="findAccount"/>
                <div class="mt-default-2x">
                    <label for="username"
                           class="bg-old-background desktop:text-desktop-regular mobile:text-mobile-regular text-neutral flex flex-col">
                                <span class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <span class="mdc-notched-outline__notch">
                                        <span class="mdc-floating-label"
                                              th:utext="#{screen.pm.reset.username}">Username</span>
                                    </span>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </span>
                        <input type="text"
                               name="username"
                               id="username"
                               size="45"
                               autocapitalize="none"
                               spellcheck="false"
                               autocomplete="username" required
                               data-testid="password-reset-username-input"
                               class="w-full block rounded outline-none p-1.5 focus-visible:p-1 hover:p-1 active:p-1 disabled:p-1.5 border focus-visible:border-3 hover:border-3 active:border-3 disabled:border disabled:text-neutral focus-visible:ces-focused bg-old-background desktop:text-desktop-regular mobile:text-mobile-regular border-neutral hover:border-neutral-strong focus:border-brand active:border-brand disabled:border-neutral disabled:bg-neutral-weak text-default-text"
                        />
                    </label>

                </div>
            </section>
            <div class="mdc-card__actions_actions flex flex-row mt-default-2x gap-default-2x">
                <div th:replace="~{fragments/submitbutton :: submitButton (messageKey='screen.pm.button.submit')}"/>
                <button class="focus-visible:ces-focused whitespace-nowrap px-[14px] font-bold h-10 desktop:text-desktop-regular mobile:text-mobile-regular bg-transparent hover:bg-neutral-weak focus-visible:bg-neutral-weak active:bg-neutral-weak disabled:bg-transparent aria-disabled:bg-transparent rounded border-2 border-transparent active:border-neutral-stronger disabled:border-transparent aria-disabled:border-transparent text-neutral hover:text-neutral-strong focus-visible:text-neutral-strong active:text-neutral-stronger disabled:text-neutral-weak aria-disabled:text-neutral-weak outline-0"
                        name="cancel"
                        accesskey="c"
                        th:attr="data-processing-text=#{screen.welcome.button.loginwip}"
                        type="button" onclick="location.href = location.href;" value="CANCEL"
                        th:value="#{screen.pm.button.cancel}">
                                        <span class="h-full flex justify-center items-center"
                                              th:text="#{screen.pm.button.cancel}">CANCEL</span>
                </button>
            </div>
        </form>
    </div>
</main>
</body>

</html>
