/* Root / Reset */

:root {
    --cas-theme-primary: #153e50;
    --cas-theme-primary-bg: rgba(21, 62, 80, 0.2);
    --cas-theme-primary-light: #006d85;
    --cas-theme-secondary: #74C163;
    --cas-theme-success: var(--cas-theme-secondary);
    --cas-theme-danger: var(--mdc-theme-error);
    --cas-theme-warning: #e6a210;
    --cas-theme-border-light: 1px solid rgba(0, 0, 0, .2);
    --cas-theme-twitter-color: #55acee;
    --cas-theme-vimeo-color: #1ab7ea;
    --cas-theme-vk-color: #587ea3;
    --cas-theme-yahoo-color: #720e9e;
    --cas-theme-google-color: #CC5445;
    --cas-theme-facebook-color: #3B5998;
    --atlassian-theme-primary: #0747a6;
    --mdc-theme-primary: var(--cas-theme-primary, #153e50);

    --colors-brand-strong: #003250;
    --colors-brand: #00629E;
    --ces-theme-logo-default: url("/cas/css/blib-blue-vec.svg");
    --ces-theme-logo-default-ratio: 1.63;
}

.page-login-container {
    padding-top: 16px;
    padding-bottom: 16px;
    border: 3px solid var(--colors-brand);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    width: 784px;
    height: 368px;
}

.page-login-container > div:first-child {
    border-right: 2px solid var(--colors-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.page-login-container > div:last-child {
    padding: 16px;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#cloudogu-logo {
    background-image: var(--ces-theme-logo-default);
    background-repeat: no-repeat;
    background-size: cover;
    width: 144px;
    height: calc(144px / (var(--ces-theme-logo-default-ratio)))
}