:root {
    --cas-internal-logo-url: url("/cas/css/blib-blue-vec.svg");
    --ces-theme-logo-default: var(--cas-internal-logo-url);
    --ces-theme-logo-default-ratio: 1.63;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: var(--colors-default-background);
    color: var(--colors-default-text);
}

#cloudogu-logo {
    background-image: var(--ces-theme-logo-default);
    background-repeat: no-repeat;
    background-size: 144px;
    width: 144px;
    height: calc(144px / (var(--ces-theme-logo-default-ratio)))
}

.ces-focused:focus-visible, .focus-href > a:focus-visible {
    -webkit-box-shadow: 0 0 0 2px var(--colors-default-focus-inner), 0 0 0 4px var(--colors-default-focus-outer);
    box-shadow: 0 0 0 2px var(--colors-default-focus-inner), 0 0 0 4px var(--colors-default-focus-outer);
    z-index: 1;
}

.focus-href > a {
    color: var(--colors-brand);
}

