<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.success.header}">Generic Success View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <h1
                class="desktop:text-desktop-6xl mobile:text-mobile-6xl text-default-text mb-default-2x"
                th:utext="#{screen.success.header}"
                th:attr="data-testid=login-header"
        >
            Log In Successful
        </h1>

        <p th:utext="#{screen.success.success(${authentication.principal.id})}"
           th:attr="data-testid=login-message" class="block pb-default">
            You, <strong>username</strong>, have successfully logged into the Central Authentication Service.
            However, you are seeing this page because CAS does not know about your target destination and how
            to get you there. Examine the authentication request again and make sure a target
            service/application
            that is authorized and registered with CAS is specified.</p>
        <p th:utext="#{screen.success.security}" th:attr="data-testid=login-security-message" class="focus-href">
            When you are finished, for security reasons, please <a href="logout" class="text-brand focus-visible:ces-focused">log out</a> and exit your web
            browser.
        </p>
    </div>
</main>
</body>
</html>
