<footer class="flex min-h-12 w-[100vw] p-default-1/2 border-t-3 border-brand">

    <div class="grid cas-desktop:grid-cols-[repeat(3,max-content)] cas-mobile:grid-cols-[repeat(1,max-content)] justify-center p-default w-[100vw]">
        <a
                th:if="${#messages.msgOrNull('legal.url.terms.of.service') != null && #messages.msgOrNull('legal.url.terms.of.service') !='legal.url.terms.of.service'}"
                class="mb-default-1/2 text-center px-default"
                href=""
                th:href="#{legal.url.terms.of.service}"
                th:text="#{terms.of.service}"
                target="_blank"
                data-testid="footer-link-terms-of-service">
        </a>
        <a
                th:if="${#messages.msgOrNull('legal.url.imprint') != null && #messages.msgOrNull('legal.url.imprint') !='legal.url.imprint'}"
                class="mb-default-1/2 text-center px-default"
                href=""
                th:href="#{legal.url.imprint}"
                th:text="#{imprint}"
                target="_blank"
                data-testid="footer-link-legal-url-imprint">
        </a>
        <a
                class="mb-default-1/2 text-center px-default"
                th:if="${#messages.msgOrNull('legal.url.privacy.policy') != null && #messages.msgOrNull('legal.url.privacy.policy') !='legal.url.privacy.policy'}"
                href=""
                th:href="#{legal.url.privacy.policy}"
                th:text="#{privacy.policy}"
                target="_blank"
                data-testid="footer-link-privacy-policy">
        </a>
        <div
                id="powered-by-cloudogu"
                target="_blank"
                class="px-default hidden"
                data-testid="footer-link-powered-by-cloudogu">
            Powered by Cloudogu
        </div>
        <script>
            const defaultLogoUrl = getComputedStyle(document.documentElement).getPropertyValue("--cas-internal-logo-url");
            const cesLogoUrl = getComputedStyle(document.documentElement).getPropertyValue("--ces-logo-default");
            const poweredByCloudogu = document.getElementById("powered-by-cloudogu");
            const hasLogoChanged = (defaultLogoUrl !== cesLogoUrl) && cesLogoUrl !== "";
            if (hasLogoChanged) {
                poweredByCloudogu.classList.remove("hidden");
            } else{
                const footer = document.querySelector("footer");
                footer.classList.add("hidden");
            }
        </script>
        <script th:if="${#messages.msgOrNull('legal.url.terms.of.service') != null
                && #messages.msgOrNull('legal.url.terms.of.service') !='legal.url.terms.of.service'
                || #messages.msgOrNull('legal.url.imprint') != null
                && #messages.msgOrNull('legal.url.imprint') !='legal.url.imprint'
                || #messages.msgOrNull('legal.url.privacy.policy') != null
                && #messages.msgOrNull('legal.url.privacy.policy') !='legal.url.privacy.policy'}">
            if (!hasLogoChanged){
                const footer = document.querySelector("footer");
                footer.classList.remove("hidden");
            }
        </script>

    </div>
</footer>