<footer class="py-4 d-flex justify-content-center cas-footer">
    <div>
        <a href="" th:href="#{legal.url.terms.of.service}" th:text="#{terms.of.service}" target="_blank"></a>
        <a href="" th:href="#{legal.url.imprint}" th:text="#{imprint}" target="_blank"></a>
        <a href="" th:href="#{legal.url.privacy.policy}" th:text="#{privacy.policy}" target="_blank"></a>

        <br>

        <span id="copyright" th:utext="#{copyright}" class="mr-2 d-inline-block">Copyright Date Apereo, Inc</span>
        <span class="mr-2 d-inline-block">Powered by <a href="https://github.com/apereo/cas">Apereo CAS</a></span>
        <code class="version" th:text="${T(org.apereo.cas.util.CasVersion).getVersion() + ' ' + T(org.apereo.cas.util.CasVersion).getDateTime()}"></code>
    </div>
</footer>