<!DOCTYPE html>
<html th:lang="${#lang}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Password Management Links Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<div th:fragment="pmlinks" id="pmlinks">

    <form th:if="${passwordManagementEnabled && #messages.msgOrNull('is.password.reset.via.mail.enabled') == 'true'}"
          method="post" id="passwordManagementForm">
        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        <input type="hidden" name="_eventId" value="resetPassword"/>
        <button
                id="forgotPasswordLink"
                th:utext="#{screen.pm.button.resetPassword}"
                class="mt-default-2x text-brand underline decoration-brand decoration-dashed decoration-1 hover:decoration-solid active:decoration-2 active:decoration-solid focus-visible:ces-focused focus-visible:outline-none focus-visible:text-default-text focus-visible:no-underline"
                onclick="document.getElementById('passwordManagementForm').submit();"
                data-testid="reset-password-button"/>
    </form>

    <!--    This part should currently not be used and is therefore disabled-->
    <form th:if="false" method="post" id="passwordManagementUserForm">
        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        <input type="hidden" name="_eventId" value="forgotUsername"/>
        <span class="fa fa-unlock"></span>
        <a id="forgotUsernameLink" th:utext="#{screen.pm.button.forgotUsername}" href="javascript:void(0)"
           onclick="document.getElementById('passwordManagementUserForm').submit();"/>
    </form>

    <script>
        function toggleForgotPasswordInfo() {
            var x = document.getElementById("forgotPasswordInfo");
            var y = document.getElementById("forgotPassword")
            if (x.style.display === "none") {
                x.style.display = "block";
                y.setAttribute("aria-expanded", true);
            } else {
                x.style.display = "none";
                y.setAttribute("aria-expanded", false);
            }
        }
    </script>

    <div th:if="${#messages.msgOrNull('is.password.reset.via.mail.enabled') != 'true'}" class="mt-default-2x">
        <details class="group desktop:text-desktop-regular mobile:text-mobile-regular mb-2 text-default-text">
            <summary

                    class="list-none cursor-pointer focus-visible:ces-focused outline-0 rounded"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                     viewBox="0,24,256,256"
                     class="group-open:hidden align-middle inline mr-[8px] w-[24px] h-[24px]">
                    <path d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"></path>
                </svg><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                     viewBox="0,24,256,256"
                     class="hidden group-open:inline align-middle mr-[8px] w-[24px] h-[24px]">
                    <path d="M216.49,168.49a12,12,0,0,1-17,0L128,97,56.49,168.49a12,12,0,0,1-17-17l80-80a12,12,0,0,1,17,0l80,80A12,12,0,0,1,216.49,168.49Z"></path>
                </svg>
                <span th:text="#{passwordForgot}">Forgot password?</span>
            </summary>
            <div class="border-l-[3px] pl-[29px]">
                <p th:text="#{forgot.password.text}" data-testid="login-forgot-password-text"></p>
            </div>
        </details>
    </div>
</div>
</body>

</html>
