<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Password Management Links Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<script th:fragment="fragments/scripts">
    console.log("WorkedS")
</script>

<body>
<div th:fragment="pmlinks" id="pmlinks">

    <form th:if="${passwordManagementEnabled && #messages.msgOrNull('is.password.reset.via.mail.enabled') == 'true'}"
          method="post" id="passwordManagementForm">
        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        <input type="hidden" name="_eventId" value="resetPassword"/>
        <button id="forgotPasswordLink" th:utext="#{screen.pm.button.resetPassword}" class="btn btn-link btn-xs"
           onclick="document.getElementById('passwordManagementForm').submit();"
           data-testid="reset-password-button"/>
    </form>

    <!--    This part should currently not be used and is therefore disabled-->
    <form th:if="false" method="post" id="passwordManagementUserForm">
        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        <input type="hidden" name="_eventId" value="forgotUsername"/>
        <span class="fa fa-unlock"></span>
        <a id="forgotUsernameLink" th:utext="#{screen.pm.button.forgotUsername}" href="javascript:void(0)"
           onclick="document.getElementById('passwordManagementUserForm').submit();"/>
    </form>

    <script>
        function toggleForgotPasswordInfo() {
            var x = document.getElementById("forgotPasswordInfo");
            var y = document.getElementById("forgotPassword")
            if (x.style.display === "none") {
                x.style.display = "block";
                y.setAttribute("aria-expanded", true);
            } else {
                x.style.display = "none";
                y.setAttribute("aria-expanded", false);
            }
        }
    </script>

    <div th:if="${#messages.msgOrNull('is.password.reset.via.mail.enabled') != 'true'}">
        <div>
            <div class="password-forgotten" th:if="${#messages.msgOrNull('forgot.password.text') != null
                    && #messages.msgOrNull('forgot.password.text') !='forgot.password.text'}">
                <button type="button" id="forgotPassword" class="btn btn-link"
                        data-testid="login-forgot-password-button"

                        aria-controls="forgotPasswordInfo"
                        aria-expanded="false"
                        onclick="toggleForgotPasswordInfo(); return false;"
                        th:text="#{passwordForgot}"
                >
                </button>
                <p style="display:none;" id="forgotPasswordInfo" th:text="#{forgot.password.text}"
                data-testid="login-forgot-password-text" class="well mt-3" role="region" aria-live="polite"></p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
