<!DOCTYPE html>
<html th:lang="${#lang}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE"
           th:text="${#strings.defaultString(#themes.code('cas.theme.name'), 'Central Authentication Service')}"/>
    </title>

    <!--/* Core CAS CSS */-->
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" th:href="@{#{webjars.normalize.css}}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.min.css"
          th:href="@{#{webjars.bootstrap-grid.css}}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/cloudogu-cas.css"
          th:href="@{${#themes.code('cas.standard.css.file')}}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/ces-theme-tailwind.css"
          th:href="@{${#themes.code('cas.theme.css.file')}}"/>

    <!--/* Favicons */-->
    <link rel="shortcut icon" href="/cas/images/cas-logo.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/cas/images/cas-logo.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/cas/images/cas-logo.png"/>
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="flex flex-col justify-between h-screen">
<script th:replace="~{fragments/scripts}"></script>

<div class="mdc-drawer-scrim"></div>

<div class="flex justify-center grow">
    <main role="main" class="flex justify-center items-center flex-grow py-8">
        <div class=" cas-mobile:self-start cas-desktop:py-8 cas-desktop:border-3 cas-mobile:border-b-0 border-brand cas-desktop:rounded-lg flex cas-desktop:flex-row cas-desktop:min-w-[784px] cas-mobile:w-[100vw] cas-desktop:max-w-[70vw] cas-mobile:flex-col">
            <div class="cas-mobile:border-b-3 cas-desktop:border-r-3 border-brand box-border">
                <div class="flex bg-cas-logo-bg cas-desktop:h-[calc(100%+4rem)] cas-desktop:mt-[-2rem] items-center px-8 cas-desktop:w-[calc(100%+2px)] justify-center cas-mobile:pt-default-2x">
                    <div id="cloudogu-logo" aria-hidden="true" class="cas-mobile:mb-8"></div>
                </div>
            </div>
            <div id="casContentView" class="cas-desktop:py-default-2x px-6 grow flex">
                <div layout:fragment="content" id="content" class="cas-mobile:py-default-2x w-full">
                    CAS content will go here
                </div>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{fragments/footer :: footer}">
    <a href="fragments/footer.html">Footer</a> fragment will go here
</div>
</body>
</html>
