<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Zwei-Faktor-Authentifizierung einrichten</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body id="cas">
<main class="container mt-3 mb-2">
    <div layout:fragment="content" id="login" class="mdc-card card p-4 m-auto w-lg-66">
        <h1>Zwei-Faktor-Authentifizierung einrichten</h1>
        <!-- Account Information -->
        <div class="row">
            <h2>1. Zweiten Faktor registrieren</h2>
            <div>
                <img id="imageQRCode" th:src="@{'data:image/jpeg;base64,' + ${QRcode}}"
                     th:alt="#{screen.authentication.gauth.qrimage}"/>
                <p th:utext="'Secret-Key: ' + ${key.getSecretKey()}"></p>
            </div>
            <div class="my-2" id="seckeypanel">
                <p>Zum Registrieren des zweiten Faktors muss entweder der QR-Code gescannt werden oder der Secret-Key manuell in die Authenticator-App eingetragen werden</p>
            </div>

            <div>
                <hr>
                <h2>2. Scratch-Codes sichern</h2>
                <p>Speichern Sie die Scratch-Codes sicher. Mit diesen Codes können Sie den  zweiten Faktor  wiederherstellen. Nach der  Registrierung können Sie die Codes nicht mehr einsehen!</p>
                <br>
                <div class="d-flex align-items-start">
                    <div class="mdc-chip-set" role="grid" id="scratchcodes">
                        <div th:each="code : ${key.getScratchCodes()}" class="mdc-chip" role="row">
                            <div class="mdc-chip__ripple"></div>
                            <span role="gridcell">
                              <span class="mdc-chip__text" name="gauth-scratchcode" th:text="${code}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!--
          Step 3 (token + device name + Registrieren/Abbrechen) is rendered inline by this fragment.
        -->
        <div th:replace="~{fragments/gauthConfirmation :: gauthConfirmation (
            dialogId='confirm-reg-dialog',
            title='screen.authentication.gauth.confirm.title', description='screen.authentication.gauth.confirm.desc',
            eventId='submit', confirmationType='create', actionButton='registerButton', actionButtonLabel='screen.welcome.button.register')}">
            <a href="fragments/gauthConfirmation.html"></a>
        </div>
    </div>
</main>
</body>

</html>