<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{cas.mfa.googleauth.pagetitle}">Google Authentication Registration Review View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body id="cas">
    <main class="container mt-3 mb-3">
        <div layout:fragment="content" id="login" class="mdc-card card p-4 m-auto w-lg-66">
            <p>Die folgenden Geräte sind für <code th:text="${principal.id}"></code> registriert:</p>
            <div class="card-text">
                <div th:each="device: ${registeredDevices}" class="border-bottom py-4">
                    <form th:name="${'form-' + device.id}" th:id="${'form-' + device.id}" method="post">
                        <h4 class="d-flex align-items-center">
                            <ul style="list-style: none">
                                <code>
                                <li><i class="mdi mdi-laptop fas fa-laptop me-2" aria-hidden="true"></i>
                                    <span th:id="${'name-' + device.name}" th:text="'Gerätename: ' + ${device.name}">Device Name</span>
                                </li>
                                <li><i class="mdi mdi-account-clock fas fa-user-clock me-2" aria-hidden="true"></i>
                                    <span th:text="'Registrierungsdatum: ' + ${#temporals.format(device.registrationDate, 'dd.MM.yyyy HH:mm')}">Device Date</span>
                                </li>
                                <li><i class="mdi mdi-account-details fas fa-user-tag me-2" aria-hidden="true"></i>
                                    <span th:id="${'id-' + device.id}" th:text="'Geräte-ID: ' + ${device.id}">Device Id</span>
                                </li>
                                </code>
                            </ul>
                        </h4>
                        <button
                                data-testid="12345"
                                th:id="${'useButton-' + device.id}"
                                th:value="#{screen.authentication.gauth.selectdevice}"
                                th:utext="#{screen.authentication.gauth.selectdevice}"
                                class="focus-visible:ces-focused whitespace-nowrap px-[14px] font-bold h-10 desktop:text-desktop-regular mobile:text-mobile-regular bg-brand hover:bg-brand-strong focus-visible:bg-brand-strong active:bg-brand-stronger disabled:bg-brand-weak aria-disabled:bg-brand-weak rounded border-2 border-brand hover:border-brand-strong focus-visible:border-brand-strong active:border-brand-stronger disabled:border-brand-weak aria-disabled:border-brand-weak text-inverted-text disabled:text-inverted-text aria-disabled:text-inverted-text outline-0 mr-[8px]">
                        </button>
                        <button
                                th:id="${'delButton-' + device.id}"
                                th:if="${#bools.isTrue(#objects.nullSafe(mfaDeviceRegistrationEnabled,true))}"
                                th:value="#{screen.authentication.gauth.deletedevice}"
                                th:text="#{screen.authentication.gauth.deletedevice}"
                                onclick="$(this).parent('form').find('input[name=_eventId]').val('delete'); $(this).parent('form').submit();"
                                class="focus-visible:ces-focused whitespace-nowrap px-[14px] font-bold h-10 desktop:text-desktop-regular mobile:text-mobile-regular bg-danger hover:bg-danger-strong focus-visible:bg-danger-strong active:bg-danger-stronger disabled:bg-danger-weak aria-disabled:bg-danger-weak rounded border-2 border-danger hover:border-danger-strong focus-visible:border-danger-strong active:border-danger-stronger disabled:border-danger-weak aria-disabled:border-danger-weak text-inverted-text disabled:text-inverted-text aria-disabled:text-inverted-text outline-0 mr-[8px]">
                        ></button>
                        <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
                        <input type="hidden" name="accountId" th:value="${device.id}" />
                        <input type="hidden" name="_eventId" value="select" />
                    </form>
                </div>
            </div>

            <form method="post" id="fm2" th:if="${gauthMultipleDeviceRegistrationEnabled && #bools.isTrue(#objects.nullSafe(mfaDeviceRegistrationEnabled,true))}">
                <p>
                <p th:utext="#{screen.authentication.gauth.reganotherdevice}"></p>
                <input type="hidden" name="_eventId_register" value="Register"/>
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <button id="register" class="mdc-button mdc-button--raised btn btn-primary me-2" name="register" accesskey="r" value="Register">
                    <span class="mdc-button__label" th:text="#{screen.welcome.button.register}">Register</span>
                </button>
            </form>
            <p>
        </div>
    </main>
</body>

</html>